:root {
  font-size: 10px;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  transition: box-shadow .2s ease-out;
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  height: 100%;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.content-wrapper {
  flex: 1 0 auto;
  width: 100%;
  margin: 0 auto;
}

#root {
  height: 100%;
}

main {
  height: 100%;
}

footer {
  flex: 0 1 auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.error {
  box-shadow: 0 0 8px red;
  transition: box-shadow .3s ease-in-out;
}

.login-signup {
  min-width: 30rem;
}
